body {
    background: #020103; 
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
canvas {
    opacity: 1;
}

.business-card{
    position: absolute;
    z-index: 0;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    padding: 3rem 5rem 2rem;
    box-shadow: 0 0 8rem rgb(231, 59, 231);
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.4);;
}

.business-card img{
    width:15rem;
}

.ava-box{
    margin: 2rem auto;
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: url(./img/han-ava.jpg) no-repeat;
    background-size: cover;
}

.glow::before, 
.glow::after{
    border-radius: 50%;
    content: "";
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(
        -45deg,
        #D391FA,
        #C364FA,
        #ff00ff,
        #ff0099,
        #5B00D7,
        #3E00B3
        );
    background-size: 400%;
    height: calc(100% + 5px);
    width: calc(100% + 5px);
    z-index: -1;
    animation: change 40s linear infinite;
}  
@keyframes change {
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 800% 0;
    }
    100%{
        background-position: 0 0;
    } 
} 

.glow::after{
    filter: blur(20px);
    opacity: 0.5;
}

.business-card h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: lighter;
    text-transform: uppercase;
    margin: 1rem 0 1rem 0;
}

.business-card h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin: 1rem 0 1rem 0;
    font-weight: lighter;
}

.business-card hr{
    border: 1px solid rgba(0,0,0,0.5);
    border-top: 0;
    margin-bottom: 0;
}

.business-card p{
    font-family: 'Nunito', sans-serif;
    width: 25rem;
}

.social-media{
    width:100%;
    list-style: none;
    display: flex;
    justify-content:  space-evenly;
    padding: 0;
}

.social-media i{
    font-size: 2rem;
    padding: 0;
}

.fa-facebook-square{
    color: #3b5999;
}

.fa-google{
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}
  
